In [21]:
import boto3
import pandas as pd
import s3fs

In [23]:
s3 = boto3.resource('s3')
bucket = s3.Bucket('nyc-tlc')
# Iterates through all the objects, doing the pagination for you. Each obj
# is an ObjectSummary, so it doesn't contain the body. You'll need to call
# get to get the whole body.

# for obj in bucket.objects.filter(Prefix="trip data"):
#     key = obj.key

file_name = 's3://nyc-tlc/misc/trip data/green_tripdata_2013-08.csv'
df = pd.read_csv(file_name)
     

df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone